* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #2a87b3;
}
.lots-page {
    height: 100%;
    display: flex;
    flex-direction: column;align-items: center;
}
.lots-header {
    width: 100%;
    padding: 10px 300px;
    background-color: #9ee1d7;
    border-bottom: 2px solid #2a87b3;
}
.lots-header .lots-logo {
    display: flex;
    align-items: center;
    height: 40px;
}
.lots-header .lots-logo img{
    width: 200px;
    height: 100%;
}
.lots-header .lots-logo h3{
    margin-left: 30px;
}
.lots-tabs {
    display: flex;
    align-items: center;
    height: 50px;
    line-height: 50px;
    width: 100%;
    padding: 0 300px;
    background-color: #9ee1d7;
}
.lots-tabs .lots-tabs-game {
    position: relative;
    width: 200px;
    height: 100%;
    text-align: center;
    cursor: pointer;
}
.lots-tabs .lots-tabs-game:hover {
    background-color: #85d0d3;
}
.lots-tabs .lots-tabs-game.lots-tabs-game-split::after {
    content: "";
    display: block;
    width: 1px;
    height: 14px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #2a87b3;
}
.el-dropdown-menu {
    margin-top: 0 !important;
}
.popper__arrow {
    display: none !important;
}
.lots-area {
    width: 85%;
    height: 100%;
    background-color: hsl(162, 65%, 85%, .3);
    overflow-y: auto;
}
.el-button {
    background-color: #e9faf5 !important;
}